.product-section {
  padding: 60px 0;
  margin-top: 60px;
}
.section-header {
  position: relative;
  margin-bottom: 60px;
}
.section-header h2 {
  text-transform: uppercase;
  font-weight: 900;
  color: #424242;
  font-size: 2.5rem;
}
.section-header p {
  color: #606060;
}
.section-header .cta {
  position: absolute;
  right: 0;
  bottom: 0;
}
.section-header a {
  color: #cb2129;
  font-weight: bold;
  text-transform: uppercase;
}

.section-header a i {
  margin-left: 10px;
}

.product-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.product-item > .card {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  flex: 0 0 25%;
  width: 25%;
  padding: 0 15px;
}

.product-item > .card a {
  background-color: #fff;
  display: block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  height: 100%;
  transition: all 0.3s;
}

.product-item > .card a img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
  -o-object-fit: cover;
}
.product-item > .card a .content {
  color: #606060;
  padding: 20px;
}
.product-item > .card a .content h5 {
  font-weight: bold;
}
.product-item > .card a .content p {
  margin-bottom: 0;
}
.product-item > .card a .content p.price {
  color: #cb2129;
  font-size: 20px;
}
.product-item > .card a .content p.price-discount {
  text-decoration: line-through;
}

.product-item > .card a:hover,
.product-item > .card a:focus {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.product-item > .card a:hover .content h5,
.product-item > .card a:focus .content h5 {
  color: #212121;
}
