.sidebar h5 {
  color: #909090;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.sidebar ul {
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}
.sidebar ul li {
}
.sidebar ul li a {
  display: block;
  margin-bottom: 10px;
  color: #909090;
  position: relative;
  padding-left: 30px;
  transition: all 0.3s;
  overflow: hidden;
}
.sidebar ul li a:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 18px;
  height: 1px;
  background-color: #bdbdbd;
  transition: all 0.3s;
}
.sidebar ul li a:hover,
.sidebar ul li a:focus {
  color: #cb2129;
  padding-left: 0;
}
.sidebar ul li a:hover:before,
.sidebar ul li a:focus:before {
  left: -100px;
}
