.App {
  font-family: "Barlow", sans-serif;
}
a {
  text-decoration: none !important;
  transition: color 0.3s, background 0.3s;
}
a:hover,
a:focus {
  text-decoration: none !important;
}
.material-icons {
  line-height: 0;
  top: 6px;
  position: relative;
}

.home-main {
  padding-top: 50px;
  margin-bottom: 60px;
}

.home-main > .container > .row > .col-md-2 {
  flex: 0 0 20%;
  max-width: 20%;
}

.home-main > .container > .row > .col-md-8 {
  flex: 0 0 60%;
  max-width: 60%;
}
